* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace; }

.layer-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: rgba(96, 96, 96, 0.2); }

.layer-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .layer-inner form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: white; }

input {
  padding: 8px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: none;
  border-right: none; }
  input:not(:last-of-type) {
    margin-bottom: 24px; }

.header {
  display: flex;
  padding: 0 16px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  color: #f4f4f4;
  background: #0e5eba; }
  .header .login-status button {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer; }
    .header .login-status button:not(:last-of-type) {
      margin-right: 16px; }

.main-area {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 48px); }

.sidebar-left {
  width: 320px;
  overflow-y: auto;
  border-right: 1px solid #0e5eba; }
  .sidebar-left .tile {
    height: 250px; }
  .sidebar-left .toolbar {
    display: flex;
    border-bottom: 1px solid #0e5eba; }
    .sidebar-left .toolbar img {
      width: 48px;
      height: 48px;
      padding: 8px; }
      .sidebar-left .toolbar img:not(:last-of-type) {
        border-right: 1px solid #0e5eba; }

.editor-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .editor-container .toolbar {
    height: 42px;
    border-bottom: 1px solid #0e5eba; }

.codeflask.editor {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 1; }
