$header-height: 48px;
$ci-blue: rgb(14, 94, 186);

body {
	font-family: monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.layer-fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000000;

	background: rgba(96, 96, 96, 0.2);
}

.layer-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	form {
		display: flex;
		flex-direction: column;
		padding: 24px;

		background: white;
	}
}

input {
	padding: 8px;

	&:not(:last-of-type) {
		margin-bottom: 24px;
	}

	border: 2px solid grey;
}

button {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
}

.header {
	display: flex;
	padding: 0 16px;
	height: $header-height;
	justify-content: space-between;
	align-items: center;

	color: rgb(244, 244, 244);
	background: $ci-blue;
	font-family: "Arial";

	.login-status button {

		&:not(:last-of-type) {
			margin-right: 16px;
		}
	}

	.profile {
		display: flex;
		align-items: center;

		* { margin-left: 4px; }
		button { margin-left: 16px; }
	}
}

.main-area {
	display: flex;
	align-items: stretch;
	justify-content: center;

	width: 100%;
	height: calc(100vh - #{$header-height});
	overflow: hidden;
}

.teaser {
	position: absolute;
	width: 400px;
	left: 10%;
	top: 64%;
	color: black;
	background: white;
	padding: 16px;
	box-shadow: black 10px 10px 64px;
	font-family: Verdana;

	h1 {
		font-size: 24px;
		font-weight:bold;
	}

	h2 {
		font-size: 16px;
		margin-top: 12px;
		font-weight: normal;
	}
}

.sidebar-left {
	width: 240px;
	overflow-y: auto;

	border-right: 1px solid $ci-blue;

	.tile {
		height: 250px;
	}

	.note-list {
		padding: 8px;
		color: $ci-blue;
		font-family: Verdana;
		font-size: 16px;
		font-weight: normal;

		li { cursor: pointer; font-weight: normal; font-size: inherit; margin-top: 8px; }
	}

	.toolbar {
		display: flex;
		border-bottom: 1px solid $ci-blue;

		img {
			width: 41px;
			height: 41px;
			padding: 6px;
			cursor: pointer;

			&:not(:last-of-type) { border-right: 1px solid $ci-blue; }
		}
	}
}

.editor-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.toolbar {
		display: flex;
		justify-content: space-between;
		padding: 0 16px;
		align-items: center;

		height: 42px;
		border-bottom: 1px solid $ci-blue;

		.note-title { border: none; font-size: 24px; font-family: "Arial"; background: none; padding: 0; }

		button { font-weight: bold; }
		.btn-delete { color: rgb(243, 32, 16); }
	}
}

.codeflask.editor {
	position: relative;
	width: auto;
	height: auto;
	flex-grow: 1;
}

h1 { font-size: 24px; }
